.content-div{
    height: 90% !important;

}

.content-div-services .card-role{
    height: 45%;
    width: 100%;
   
    /* background-color: rgb(210, 210, 210); */
}

.content-div-services .card-role .card-zone{
    background-color: #b3d5eb;
    width: 30%;
    border-radius: 20px;
    border: 2px solid  rgb(94, 222, 245) !important;
}

.card-item {
    width: auto;
    height: 200px;
    border: none;
    background-color: #b3d5eb;
   
}


.card-item .card-employees{ 
  margin-top: 3px;
  background-color: rgb(149, 183, 231) !important;
  height: 20% !important;
  width: 100% !important;
  border-radius: 10px;

}

.card-item .card-employees .card-head{
 
    height: 100% !important;
}
.card-item .card-employees .card-head img{
    width: 100% !important;
    height: 100% !important;
}
.card-item .card-employees .card-body{
    width: 90%;
    height: 100%;
    align-self: center;
    
   
}
.card-item .card-employees .card-body p{
    
    font-size: 10px;   
}
.assigne{
    background-color: rgb(92, 181, 92);
    border-radius: 5px;
    border: 1px solid white;
    transition: 0.9s;
   
}
.assigne:hover{
   background: green;
   color: white;
}


