.content-div{
    height: 100vh !important;

}


.content-div-services .card-role{
    height: 45%;
    width: 100%;
    /* background-color: rgb(210, 210, 210); */
}

.content-div-services .card-role .card-zone{
    background-color: #c8e1f0;
    width: 30%;
    border-radius: 20px;
    border: 2px solid  rgb(94, 222, 245) !important;
}
.card-item {
    width: auto;
    height: 200px;
    background-color: #c8e1f0;
    border: none;
   
}


.card-item .card-employees{ 
  background-color: rgb(149, 183, 231) !important;
  height: 20% !important;
  width: 100% !important;
  border-radius: 10px;

}

.card-item .card-employees .card-head{
 
    height: 100% !important;
}
.card-item .card-employees .card-head img{
    width: 100% !important;
    height: 100% !important;
}
.card-item .card-employees .card-body{
    width: 90%;
    height: 50%;
   
}
.card-item .card-employees .card-body p{
    margin-top: -6px;
    align-items: center;
    font-size: 13px;   
}
.assigne{
    background-color: rgb(92, 181, 92);
    border-radius: 5px;
    border: 1px solid white;
    transition: 0.9s;
   
}
.assigne:hover{
   background: green;
   color: white;
}


